Django==5.1.5
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-allauth>=0.61.0
django-storages==1.13.1
django-widget-tweaks==1.5.0
django-colorfield==0.14.0
PyMySQL
python-dotenv==1.0.1
gunicorn
Pillow==10.1.0
openpyxl==3.1.5
pandas==2.2.3
qrcode==7.4.2
openai==1.99.9
boto3>=1.34.0
dj-rest-auth
django-multiselectfield
requests
cryptography
pycryptodome
celery
